* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1%;
}
nav ul {
  display: flex;
  gap: 5em;
}
nav ul a {
  text-decoration: none;
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 400;
  line-height: 95%;
  letter-spacing: 0%;
  text-align: left;
}
nav button {
  border: 1px solid rgb(255, 114, 53);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(255, 114, 53);
  font-family: "Hind Siliguri";
  font-size: 18px;
  font-weight: 400;
  line-height: 95%;
  padding: 1% 2%;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
header h1 {
  color: rgb(41, 40, 48);
  font-family: "Hind Siliguri";
  font-size: 86px;
  font-weight: 700;
  line-height: 100%;
}
header button {
  border-radius: 8px;
  background: rgb(255, 114, 53);
  color: rgb(255, 255, 255);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  border: none;
  padding: 2% 3%;
  cursor: pointer;
  margin: 2%;
}

.overview {
  background: rgb(255, 114, 53);
  text-align: center;
}
.overview img {
  margin: 5% auto;
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  gap: 5%;
}

.online {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.online h3 {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.online h1 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
}
.online p {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  margin: 3% 0;
}
.online a {
  color: rgb(255, 114, 53);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.free {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.free h3 {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.free h1 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
}
.free p {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  margin: 3% 0;
}
.free a {
  color: rgb(255, 114, 53);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.use {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.use h3 {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}
.use h1 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
}
.use p {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  margin: 3% 0;
}
.use a {
  color: rgb(255, 114, 53);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}

.product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.product h1 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 96px;
  font-weight: 700;
  line-height: 100%;
}
.product p {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 400;
  line-height: 39px;
  margin: 3% 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
}
.icons .icon {
  text-align: center;
}
.icons .icon h3 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin: 5%;
}

.choose {
  background: rgb(255, 250, 248);
  padding: 5%;
}
.choose h1 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 20%;
}
.choose .plans {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  gap: 5%;
}
.choose .plans .plan {
  padding: 3%;
  padding-right: 7%;
  box-sizing: border-box;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 12px;
  background: rgb(255, 255, 255);
}
.choose .plans .plan h3 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 32px;
  font-weight: 600;
  line-height: 52px;
}
.choose .plans .plan p {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin: 3% 0;
}
.choose .plans .plan h4 {
  font-family: Hind Siliguri;
  font-size: 20px;
  font-weight: 300;
  margin: 5% 0;
}
.choose .plans .plan h6 {
  color: rgb(189, 189, 189);
  font-family: Hind Siliguri;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  margin: 5% 0;
}
.choose .plans .plan button {
  color: rgb(255, 255, 255);
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 114, 53);
  border-radius: 8px;
  margin: 5% 0;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  margin: 5% 0;
  background: rgb(255, 114, 53);
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  gap: 5%;
}
.copy h6 {
  color: rgb(41, 40, 48);
  font-family: Hind Siliguri;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
